version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  bot:
    build: .
    restart: on-failure
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ./src:/app/src # Для удобства разработки (hot reload не настроен, но файлы видны)
      - ./data:/app/data

volumes:
  pg_data: